<!DOCTYPE html>
<html ng-app="App">

<head>
  <title>Kitchen Stack</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="DisplayController" ng-click="dropDown()">
  <nav class="header" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"> <a class="navbar-brand" href="#">Stack's Kitchen</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href=>sign in</a>
        </li>
        <li><a href>sign up</a>
        </li>
      </ul>
    </div>
  </nav>
  <div ng-class="{outline: isAppOutline}" id="appOutLine">
    <h1 class="title">Find Recipes By Ingredients</h1>
    <div id="formWrapper">
      <form id="formMine" class="form-inline" role="form">
        <div class="form-group">
          <input id="searchText" class="form-control" type="search" placeholder="live search..." ng-model="searchText" />
          <div ng-show="isSearching" id="searchResults">
            <div class="entry" ng-click="addIngredient(entry)" ng-repeat="entry in entries | filter:filterText | limitTo:10"> <span>{{entry}}</span>
            </div>
          </div>
        </div>
        <button ng-show="!hasSearched" type="submit" class="btn btn-default" ng-click="submitIngredients()">Find Recipes Now</button>
        <button ng-show="hasSearched" type="submit" class="btn btn-default" ng-click="adjustIngredients()">Adjust Ingredients</button>
      </form>
    </div>
    <hr id="topDivider">
    <div ng-show="showIngredients" id="ingredientContainer">
      <p ng-repeat="item in added track by $index">
        <input class="checkBoxes" type="checkbox" checked>{{item}}</p>
    </div>
    <div id="recipesSection" ng-show="showRecipes">
      <div class="recipeIndividual" ng-repeat="(index, value) in recipes">
        <img class="imageRepeat" ng-src="{{value.imageUrlsBySize[90]}}"> <span id="extraNameOptions" class="ingredientsContainer">{{value.recipeName}}</span>
        <br>
        <span class="ingredientsContainer">
          <br>
          <img src="images/star.png">
          <img src="images/star.png">
          <img src="images/star.png">
          <img src="images/star.png">
          <img src="images/star.png">
        </span>

        <br>
        <strong><p class="ingredientsContainer"><br>Ingredients:</p></strong>
        <div class="ingredientsContainer">
          <div class="ingredientRepeat" ng-repeat="food in value.ingredients">{{food}}
            <br/>
          </div>
        </div>
        <br ng:show="(index+1)%2==0" />
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>

  </body>
</html>